<!doctype html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
    <title>ویرایش اطلاعات کالا</title>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <h1 style="margin-right: 20px;text-align: right;" class="col-lg-10">پنل کاربری کارشناس انبار > ویرایش اطلاعات کالا</h1>
        <a class="nav-item nav-link" href="/logout" style="float: left;">
            <button class="btn btn-danger"><i class="fa fa-sign-out" aria-hidden="true" style="margin-left: 10px;"></i>خروج</button>
        </a>
    </div>
    <hr>
    <% if(error_msg.length) { %>
    <div class="row alert alert-danger" style="text-align: center;">
        <h5 class="col-lg-12"><%= error_msg %></h5>
    </div>
    <% } %>
    <% if(errors) {
    errors.forEach(error => { %>
    <div class="row alert alert-danger" style="text-align: center;">
        <h5 class="col-lg-12"><%= error.msg %></h5>
    </div>
    <% })} %>
    <form class="col-lg-12" action="/edit-good/:<%= good.id %>" method="post">
        <div class="row justify-content-center" style="text-align: right;">
            <div class="form-group col-lg-4">
                <label>نام<span style="color: red;margin-right: 7px;">*</span></label>
                <input type="text" class="form-control" name="name" value="<%= good.name %>">
            </div>
        </div>
        <div class="row justify-content-center" style="text-align: right;">
            <div class="form-group col-lg-4">
                <label>شماره فنی<span style="color: red;margin-right: 7px;">*</span></label>
                <input type="text" class="form-control" name="technical_number" value="<%= good.technical_number %>">
            </div>
        </div>
        <div class="row justify-content-center" style="text-align: right;">
            <div class="form-group col-lg-4">
                <label>واحد<span style="color: red;margin-right: 7px;">*</span></label>
                <input type="text" class="form-control" name="unit" value="<%= good.unit %>">
            </div>
        </div>
        <div class="row justify-content-center" style="text-align: right;">
            <div class="form-group col-lg-4">
                <label>تعداد<span style="color: red;margin-right: 7px;">*</span></label>
                <input type="text" class="form-control" name="number" value="<%= good.number %>">
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 20px;">
            <button type="submit" class="btn btn-warning" style="margin-left: 20px;">ویرایش</button>
            <a href="/good-management"><button type="button" class="btn btn-danger">لغو</button></a>
        </div>
    </form>

    <% include ./partials/footer.ejs %>
</div>

<% include ./partials/scripts.ejs %>
</body>
</html>